<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="/fonts/IRANYekan/WebFonts/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body dir="rtl">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
